body {
    background: lightsalmon;
    margin: 0;
}

#title {
    margin-top: 60px;
    text-align: center;

}

/* Navbar CSS */

nav {
    width: 100%;
    position: fixed;
    background: grey;
    text-align: left;
    top: 0;
}

li {
    display: inline;
    padding: 10px;
}

ul{
    list-style-type: none;
    padding-left: 2px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 10px, 15px;
}

/* Slideshow CSS */

.slideShow {
    margin-top: 30px;
    /* border: black solid 3px; */
}

img {
    height: 350px;
}

article {
    border: solid grey 1px;
    padding: 10px;
    margin: 10px 0;
}