body {
    background: lightblue;
    margin: 0;
    position: relative;
    /* min-height: 770px; */
}
h1, h2, h3, h4, p, a, input, label {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

#title {
    margin-top: 65px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(71, 68, 68);
}

/* Navbar CSS */

nav {
    display: block;
    width: 100%;
    position: fixed;
    background: rgb(39, 102, 49);
    text-align: left;
    top: 0;
    z-index: 1;
}

li {
    display: inline;
    padding: 10px;
}

ul{
    list-style-type: none;
    padding-left: 2px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 10px, 15px;
}

.logo {
    display: block;
    height: 50px;
    float: left;
    border-radius: 15px;
    margin: 5px 5px;
}

/* Slideshow CSS */

.slideShow {
    margin-top: 30px;
    /* border: black solid 3px; */
}

img {
    height: 350px;
}

article {
    border: solid grey 1px;
    padding: 10px;
    margin: 10px 0;
    background-color: rgb(39, 102, 49);
}

article > p {
    font-style: italic;
    color: white;
    font-size: 18px;
}

/* Footer CSS */

#footer {
    margin-top: 10px;
    padding: 0;
    width: 100%;
    position: absolute;
    background: rgb(54, 116, 155);
    /* bottom: 0; */
    display: flex;
    justify-content: space-around;
}

#footer-section1 {
    text-align: center;
    color: white;
    order: 2;
}

#footer-section3 {
    padding-top: 50px;
    text-align: center;
    color: white;
    order: 1;
}

#footer-section2 {
    padding-top: 50px;
    text-align: center;
    color: white;
    order: 3;
}

#copyright {
  align-content: center;
}

.fa {
    padding: 0 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-instagram {
    background: #125688;
    color: white;
  }

.footer-logo {
    display: block;
    float: left;
    height: 175px;
    border-radius: 15px;
    margin: 10px 25px;
  }

/* Products CSS */
h2 {
    margin-top: 70px;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    text-decoration: underline;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

#main-section {
    padding-bottom: 70px;
}

.product-headings {
    background: rgb(211,255,228);
    margin: 70px 20% 0;
    padding: 5px;
}

.product-headings h2 {
    color: black;
    margin: 0;
}

.product-container{
    margin: 10px 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.card-container {
    width: 20%;
    padding: 10px;
    margin: 15px;
    background-color: rgb(39, 102, 49);
}

.card-container img {
    width: 100%;
}

.product-img{
    flex-basis: 100%;
    height: 150px;
    object-fit: cover;
}

.caption-title > h3 {
    margin-bottom: 0;
}

.caption-text {
    font-style: italic;
    color: white;
    font-size: 18px;
}

.disc-price {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: white;
}

#balista {
    flex-shrink: 9;
}

/* Contact Page CSS */
form {
    background: rgb(39, 102, 49);
    margin: 75px 33%;
    padding: 15px;
    text-align: left;
    color: white;
    
  }
  
  form label {
    padding: 0 20px;
  }
  
  form input {
    margin: 5px 0 10px 20px;
    width: 80%;
  }
  
  #submit {
    margin-left: 20px;
    padding: 10px 15px;
    border: 2px solid rgb(13, 32, 202);
    border-radius: 5px;
    color: white;
    background: rgb(33, 33, 136);
    width: auto;
  }

  /* Media Queries */
@media (max-width: 800px) {
    .product-container{
        margin: 10px 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-container {
        width: 80%;
        
    }
}